@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

header{
    background-color: #00cdcf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
    color: white;

}

nav{
    width: 30vw;
    margin-top: 10px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.cajaHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40vw;
    height: 20vh;
    border: white 2px solid;
    margin-bottom: 20px;
    line-height: 3rem;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    margin-top: 30px;
    
}

main div{
    display: flex;
    margin: 30px;

}

main div .cajitaMain{
    display: flex;
    flex-direction: column;
    border-left: #e3e3e3 solid 1px;
    border-right: #e3e3e3 solid 1px;
    
}

main div .cajitaMain span{
    color: #00cdcf;
    font-size: 2rem;
    font-weight: 800;
}

main div .cajitaMain p{
    width: 300px;
}

/*section: Nosotros*/
.nosotros {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.nosotros h2{
    margin-bottom: 30px;
}
.nosotros div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
}
.nosotros div img{
    width: 30vw;
    

}
.nosotros div p{
    width:30vw;
    line-height: 2.5rem;
}

/*section: llamanos*/
.llamanos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #00cdcf;
    height: 12vh;
    color: white;
    margin-top: 40px;
}

/* Section: Formulario*/
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.formulario div{
    text-align: center;
    line-height: 3rem;
    margin-right: 50px;
}
.formulario div img{
    width: 100px;
}

form{
    margin-top: 30px;
    height: 300px;
    line-height: 3rem;
    margin-left: 30px;
}



form input{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 15px;
}

textarea{
    margin-top: 30px;
    width: 350px;
    height: 200px;
    border-radius: 5%;
    border-color: #00cdcf;
    text-align: left;
    

}
.mail input{
    width: 82%;
}


footer{
    margin-top: 50px;
    background-color: #00cdcf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    height: 150px;
}
footer h4{
    margin-top: 10px;
}
footer div{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

footer img{
    width: 50px;
    margin: 30px;
}

footer p{
    margin-bottom: 4px;
}
