@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

header{
    background-color: #00cdcf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
    color: white;

}

nav{
    width: 30vw;
    margin-top: 10px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.cajaHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40vw;
    height: 20vh;
    border: white 2px solid;
    margin-bottom: 20px;
    line-height: 3rem;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    margin-top: 30px;
    
}

main div{
    display: flex;
    margin: 30px;

}

main div .cajitaMain{
    display: flex;
    flex-direction: column;
}

main div .cajitaMain span{
    color: #00cdcf;
    font-size: 2rem;
    font-weight: 800;
}

main div .cajitaMain p{
    width: 300px;
}

/*section: Nosotros*/
.nosotros {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.nosotros h2{
    margin-bottom: 30px;
}
.nosotros div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
}
.nosotros div img{
    width: 30vw;
    

}
.nosotros div p{
    width:30vw;
    line-height: 2.5rem;
}